<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png" />
      </div>
      <!-- <p>CT</p> -->
    </a>
    <a class="simple-text logo-normal"> GradeLog </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="./dashboard.html">
          <i class="nc-icon nc-bank"></i>
          <p>HOME</p>
        </a>
      </li>
      <li class="active">
        <a href="./icons.html">
          <i class="nc-icon nc-diamond"></i>
          <p>GRADELOG</p>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <i class="nc-icon nc-pin-3"></i>
          <p>CREATE GRADE</p>
        </a>
      </li>
      <li>
        <a href="./notifications.html">
          <i class="nc-icon nc-bell-55"></i>
          <p>LOGIN</p>
        </a>
      </li>
      <li>
        <a href="./user.html">
          <i class="nc-icon nc-single-02"></i>
          <p>LOGOUT</p>
        </a>
      </li>
    </ul>
  </div>
</div>
