<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo-small.png" />
      </div>
      <!-- <p>CT</p> -->
    </a>
    <a class="simple-text logo-normal"> GradeLog </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li routerLinkActive="active" [routerLink]="'home'">
        <a>
          <i class="nc-icon nc-hat-3"></i>
          <p>HOME</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLink]="'gradelog'">
        <a>
          <i class="nc-icon nc-bullet-list-67"></i>
          <p>GRADELOG</p>
        </a>
      </li>
      <!-- <li routerLinkActive="active" [routerLink]="'creategrade'">
        <a>
          <i class="nc-icon nc-glasses-2"></i>
          <p>CREATE GRADE</p>
        </a>
      </li> -->
      <li routerLinkActive="active" [routerLink]="'login'">
        <a>
          <i class="nc-icon nc-key-25"></i>
          <p>LOGIN</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLink]="'logout'">
        <a>
          <i class="nc-icon nc-key-25"></i>
          <p>LOGOUT</p>
        </a>
      </li>
    </ul>
  </div>
</div>
