<ng-container *ngIf="studentOverview; else studentNotFound">
  <div>
    <div>
      <app-headline text="Student Overview"></app-headline>
      <div>
        <div>
          <div>
            <img
              [alt]="studentOverview.fName"
              class="img"
              [src]="studentOverview.image"
            />
          </div>
          <div>
            <p>StudentID:{{ studentOverview.id }}</p>
            <p>
              {{ studentOverview | fullName | titlecase }},
              <span>{{ studentOverview.birthday | date }}</span>
            </p>
            <p>
              {{ studentOverview.about }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div>
  <button routerLink="/home">close</button>
</div>

<ng-template #studentNotFound>
  <app-headline text="Student not found"></app-headline>
</ng-template>
